.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #1f002b;
  padding: 20px;
  box-sizing: border-box;
}

.email-inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  margin-top: 72px;
  width: 100%;
}

.email-title-container {
  text-align: center;
}

.email-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.email-input {
  width: 100%;
  max-width: 350px;
  padding: 26px 0px 26px 20px;
  margin: 10px 0;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid #36173D;
  border-radius: 16px;
  background-color: #36173D;
  outline: none;
  font-size: 17px;
}

.email-error {
  color: red;
  position: absolute;
  top: 80%;
}

.email-agreement {
  font-size: 12px;
  font-weight: 500;
  color: #B6B8C3;
  max-width: 270px;
  text-align: center;
}

.email-agreement--link {
  color: #EB2F9A;
}

@media (min-width: 620px) {
  .email-agreement {
    max-width: none;
  }
}